*{
margin: 0;
padding: 0;
list-style: none;
box-sizing: border-box;
text-decoration: none;
}
nav{
  
width: 100%;
height: 78px;
background:black;
}
.Logo img{
    margin-left: 20px;
width: 100px;
float: left;
}
label.CompanyName{
    margin-top: 22px;
margin-left:0px;
position: absolute;
width: 227px;
height: 33.93px;
font-family: Times New Roman;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
color:white;
line-height: 35px;
}
nav ul{
float :right;
margin-right: 100px;
margin-top: 22px;
}
nav ul li{
    display: inline-block;
    line-height: 35px;
    margin: 0 5px;

}
nav ul li a{
    color: white;
    font-size: 16px;
    padding-right: 8px;
    padding-right: 16px;
    border-radius: 2.5px;
    

}
a.active,a:hover{
color: #C5A946;
   
}
.box{
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 50px;
    height: 60%;
    width: 95%;
    background: lightgrey;
    font-size: 35px;

}
.Main{
    background:  rgba(243, 243, 241, 1);

    width: 100%;
 
    background-position: center;
    background-size: cover;
    height: auto;
}

.AccountMain{
    background:  rgba(243, 243, 241, 1);
    width: 100%;
    background-position: center;
    background-size: cover;
    height: auto;
}
.FormPage {  

    margin-top: 80px;
    margin-left: 70px; 
    width: 90%;
    height: 40%;
    padding: 50px;   
    background-color: rgba(255, 255, 255, 1);
    }   
    .AccountBackGroundPage{
         margin-top: 80px;
    margin-left: 70px; 
    width: 90%;
    height: 40%;
    padding: 50px;   
    background-color:rgba(255, 255, 255, 1);
    }
  
.loginbutton {   
    margin-top: 100px;
         background: #C5A946;
        width: 20%;
        height: 10%;  
        color: black;   
        padding: 5px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;   
         }  
         .AccountButtons button{
        width: 25%;
        height: 60px;
        display: block;
        border: 1px solid grey ;
        background-color:#F3F3F1;
       }

         
        .AccountButtons Button:hover{
        
          color:  #C5A946;;
       }
       .mainOppositeContext{
           background: #C5A946; 
           margin-left: 400px;
           margin-right: 200px;
       }
       .OppositeContext{
        line-height: 40px;
       
        margin-top: -420px;
       margin-left :60px;
        height: auto;
         font-size: 20px;
         font-style: New Times Roman;
         background: #C5A946;
         
       }
       .NewText{
         margin-top: 20px;
         margin-left: 400px;
          font-size: 20px;
         font-style: New Times Roman;
          float: right
        height: auto;
       }
       
 form {   
     margin-top: 30px;
     margin-left: 20px;
    }   
 input[type=text], input[type=password] {   
        width: 95%;   
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 12px 20px;   
        display: inline-block;   
        border-radius: 3.5px;  
         border: 1px solid #d3ced2;
    }  
 button:hover {   
        opacity: 0.7;   
    }   
  .cancelbtn {   
        width: auto;   
        padding: 10px 18px;  
        margin: 10px 5px;  
        color: blue;
    }   
        .LoginBox{
       
     margin-left: 10px;
     margin-top: 40px;
    float :left;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #d3ced2;
    width: 540px;
     height:53%

    }

    .RegisterBox{
       

   margin-top: 40px;
   background-color:rgba(255, 255, 255, 1) ;
   width: 540px;
   float: right;
   border: 1px solid #d3ced2;
   height: 53%;
   
    }
   
   
    .avatar{

        vertical-align: middle;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        left: calc(50% - 50px);
    }
    .username{
        margin-bottom: -20px;
        color: black
    }
    .MyAccountText{
       
       
        font-size: 30px;
        margin-left: 10px;
       margin-bottom: 100px;
       
    }
    
.LoginText{

    width: 50%;
     margin-top: 20px;
     margin-left: 10px;
     color: back;
     font-size: 24px;
     font-family: Roboto;
     font-weight: bold;
   
 }
 .RegisterText{
    margin-right: 570px;
     margin-top: 20px;
    width: 50%;
     margin-left: 500px;
    
     color: back;
     font-size: 24px;
     font-family: Roboto;
     font-weight: bold;
    
    
 }
 .TextBoth{
    display: flex;
    flex: wrap;
}
.AccountText{
float: right;
margin-right: }
.star{
    
   line-height: 0.1;
    margin-left: 3px;
    width: 20%;
   
    margin-right: 98px;
    
    float: right;
 color: red;}
.StrUsr{
     display: inline-block;
    display: flex;
    flex: wrap;
}
.FOOTER{
    margin-top: 550px;
    height:400px ;
    background-color: black;

}
.footer{
    display: flex;
       flex: wrap;
}
.ContactUs{
    margin-left: 50px;
    margin-top: 70px;
    font-size: 20px;
    color: white;
}
.QuickLinks{
   margin-left: 300px;
    margin-top: 70px;
    font-size: 20px;
    color: white;
}
.ClickLinks{
    float: right;
   margin-right: 820px;
    font-size: 16px;
     margin-top: -280px;

      

}
div ul li{
   
    line-height: 20px;
 

}
 div ul li a{
    color: white;
     padding-top: 10px;
   
    

}
.GotQuestion{
   margin-left: 100px;
    margin-top: -245px;
    font-size: 15px;
    color: white;
}
.Clogo img{
     margin-top: -270px;
    margin-left: 30px;
width: 50px;
float: left;
}
.No{
   margin-left: 30px;
   margin-top: 30px;
    font-size: 16px;
    color: white;
}
.allogo img{

margin-top: -150px;
margin-left: 30px;
width: 150px;
float: left;

}

.CopyRight{

    margin-left: 600px;
    float: left;
    margin-top: -40px;
    color: white;
}
.PowerBy{
    margin-right: 400px;
    float: right;
     margin-top: -40px;
    color: white;
}
.person{
    height: auto;
    background-color: blue;
}

.transp {   
    
        width: 100%;
        height: 50%;  
        
        
         }   
   .Container{
    width: 10%;
    display: flex;
    flex: wrap;
    background-color: blue;}
    #dlogo{

        
        border: 0 none;
         background-color:black;
         opacity: 3;
    }
#dlogo img{

   border:0 none;
  opacity: 10px;
  
width: 30px;}
.price{
color: #C5A946;}
.Header{
margin-top: 600px;}

.DashBoard{
height: auto;
width: 40%;
 background:  rgba(243, 243, 241, 1); }
 .HomePageMain{
    background: white;
    width: 100%;
 
    background-position: center;
    background-size: cover;
    height: 309vh;
}
.FrontPicPlace{
content: url("images/Accessories 3.PNG");
    margin-top: -20px;
height: auto;
width: 100%;
}
.BottomBoxes {
float :left;
margin-right: 200px;
margin-top: 22px;
display :flex;
flex: wrap;
width: 100%;


}
.BottomBox1{
   box-shadow: 5px 5px 10px 2px #DCDCDC ;
    width: 300px;
    height: 90px;
    background-color: #F0F0F0;
   border-radius: 15.5px;
   margin-left: 60px

}


.BottomBox2{
    box-shadow: 5px 5px 10px 2px #DCDCDC ;
    width: 300px;
 height: 90px;
    background-color: #F0F0F0;
   border-radius: 15.5px;
     margin-left: 20px;

}
.BottomBox3{
    box-shadow: 5px 5px 10px 2px #DCDCDC ;
    width: 300px;
   height: 90px;
    background-color: #F0F0F0;
    margin-left: 20px;
   
    border-radius: 15.5px;
   

}
.BottomBox4{
    box-shadow: 5px 5px 10px 2px #DCDCDC ;
    width: 300px;
     height: 90px;
    background-color: #F0F0F0;
    float: right;
     margin-left: 20px;
     margin-right: 60px;
     border-radius: 15.5px;


}
.mainAccessoriesButtons {
    width: 250px;
    height: 480px;
    margin-top: 200px;
    margin-left: 100px;

}

       .AccessoriesLogo img {
        margin-top: 10px;
        margin-left: 10px;
         width: 60px;
        height: 60px;
       }
       .AccessoriesLogoText {
        display: flex;
        flex: wrap;
        height: auto;
        
       }
       .TopBoxText{
        margin-left: 10px;
        margin-top: 18px;
         font-size: 20px;
       }
       .TopTextBottomOne{
        float: left;
         margin-top: -30px;
         margin-left: 80px;

       }
       .TopTextBottom{
        float: right;
         margin-top: -30px;
         margin-left: 80px;

       }
       .AccessoriesButtons1 button{
      
        width: 200px;
        height: 60px;
        display: block;
        margin-top: 30px;
        border: 5px black ;
        background-color:#F3F3F1;

       }

         
        .AccessoriesButtons1 Button:hover{
         border: 1px solid yellow ;
          color:  #C5A946;;
       }


.BottomBoxes2 {
float :left;
margin-right: 200px;
margin-top: 22px;
display :flex;
flex: wrap;
width: 100%;


}
.Circle{
    margin-top: 10px;
   box-shadow: 5px 5px 10px 2px #DCDCDC ;
   height: 100px;
  width: 100px;
  background-color:#F3F3F1;
  border-radius: 50%;
  display: inline-block;
   margin-left: 110px;
   border: none;


}


.Circle:hover {
  background-color: #C5A946;;
  color: #F3F3F1;
}

.circleLogo1 img {
    margin-top: 10px;
    margin-left:10px;
width:60 px;
height: 60px;
}
.circleLogo2 img {
    margin-top: 10px;
    margin-left:5px;
    margin-left: px;
    width:60 px;
   height: 60px;
}
.circleLogo3 img {
    margin-top: 10px;
    margin-left:10px;
width:60 px;
height: 60px}
.circleLogo4 img {
    margin-top: 10px;
    margin-left:10px;
width:50px;
height: 50px;
}
.circleLogo5 img {
    margin-top: 10px;
    margin-left:10px;
width:60 px;
height: 60px}

.circleLogo6 img {
    margin-top: 10px;
    margin-left:10px;
width:60 px;
height: 60px}
.Aboutuspic{
content: url("images/friedns.JPG");
margin-top: -13px;
height: auto;%;
width: 100%;
}
.AboutusFormPage{
    margin-top: 50px;
    margin-left: 50px;
    font-size: 20px;


}
.Aboutus{
    font-size: 25px;
}
.Lostpasswordtext
{
font-size:18px ;
margin-left: 10px;


}
.ForgetPassword{
     margin-top: -41px;
    margin-left: 28px; 
    width: 90%;
    height: 40%;
    padding: 20px;   
    background-color: rgba(255, 255, 255, 1);

}
#ResetButton
{
      
    margin-top: 0px;
         background: #C5A946;
        width: 20%;
        height: 40px;   
        padding: 5px;   
        margin: 10px 0px;   
        cursor: pointer;   
        border: none;
        border-radius: 6px ;
         
}
.ResetMyAccountText{
    font-size: 25px;
    margin-top: 70px;
    margin-left: 70px;
    
}
.Lostpasswordtext{

     font-size: 18px;
    margin-top: 70px;
    margin-left: 70px;

}
#ForgetUserName{
    width:500px ;
}
.ContactUsBox{
    
    margin-top: -20px;
height: auto;
width: 100%;
border-top-left-radius: 10px;
border-top-right-radius: 10px;


}
.ContactUsBox img{
     margin-top: -15px;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 80px;
border-bottom-left-radius: 80px;
}
.ContInfoSendSmsBox{
    margin-top: 50px;
    left-margin: 50px;
width: 100%;
height: auto;
display: flex;
flex: wrap;
}
.ContactInfoBox{
    font-size: 24px;
    width:auto;
    height: auto;
    
     padding-left: 200px;
     float: left;
}
.SendSmsBox{
    padding-left: 380px;
     left-margin: 50px;
     font-size: 24px;
     float: right;
width: auto;
height: auto;

}
.alignmentContactInfo{
    margin-top: 100px;
    margin-left: 200px;
}
.Query{
font-size: 24px;}
.ContactQuery{
margin-top: 30px;
margin-bottom: 30px;}
.SendSmsFormPage{
   
    margin-right: 140px;
    margin-top: -420px;
    width: 500px;
    height: auto;
    float: right;
}
.heightMessage{
    line-height: 100px;
}
.value{
    padding-top: 200px;
}